:root {
    --darkblue: #001C30;
    --blue: #176B87;
    --lightblue: #64CCC5;
    --bluewhite: #DAFFFB;
}

* {
    margin: 0;
    padding: 0;

}

nav {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;

}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li img {
    margin-top: 1rem;
    width: 4%;
}

#SignIn {
    width: 5rem;
    height: 2rem;
    background: #DAFFFB;
    border-radius: 50px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    color: var(--lightblue);
}

ul li:hover ul.dropdown {
    display: block;
}

.loding {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-image: url(/Frame\ 3.jpg);
    height: 100vh;
    background-size: cover;
}

body {}
